<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <nb-card>
      <nb-card-header>Datos usuario</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Nombre Usuario" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Dirección" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Telefono" class="form-control" />
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <div class="input-group">
              <span class="input-group-addon success">@</span>
              <input type="text" class="form-control" placeholder="Correo" />
            </div>
          </div>
          <div class="col-sm-6 input-group">
            <select class="form-control">
              <option value="">Seleccione el genero</option>
              <option value="m">Masculino</option>
              <option value="f">Femenino</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary">Aceptar</button>
        </div>
      </nb-card-body>
    </nb-card>
    <div class="col-lg-1"></div>
  </div>
</div>
